<!--styles for my resume -->

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight:400;
}
#name {
  font-size:3em;
  color: ##33485e;
  text-transform:uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width: 300px;
  margin:0 auto;
  }

strong{text-transform: uppercase;
    color:#33485e;
    font-size: 1.5em;
    font-weight:400;
    }
#sectionheader{font-size: 1.5em;
  color:white;
  background-color: #33485e;
  font-weight: 400;
  text-transform: uppercase;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 70%;
  min-width: 300px;}

#jobtitle{font-size: 1.5em;
  font-weight: 600;}

#organization{font-size: 1.25em;
  font-weight: 400;}

#date{font-size: 1em;
  font-weight:400;
  font-style: italic;
  margin-top: 2px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  }

#container{width:100%;
  max-width: 900px;
  margin:0 auto;}
