content {
  width: 900px
  margin: 0 auto;
  text-align: center
  display: inline-block;}

h1{font-family: Georgia, serif;
  font-size: 25px;}

h2{font-family: Helvetica, sans-serif;
  font-size: 15px;}

body{font-family:Helvetica, Arial, sans-serif;
  font-size:12px;}
#byline{font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;}
  #caption{font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;}

  #name{font-style:italic;}

  blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    font-size: 18px;

  <!--my style-->
